<article class="article-item" data-tags="{{#foreach tags}}{{slug}} {{/foreach}}">
    <div class="article-item-meta">
        <span class="article-item-date">{{date format="D MMMM YYYY"}}</span>
        {{> complexity}}
    </div>
    <div class="article-item-body">
        <h2 class="article-item-title"><a href="{{url}}">{{title}}</a></h2>
        <p class="article-item-excerpt">{{excerpt words="35"}}</p>
    </div>
    <div class="article-item-topic">
        {{#primary_tag}}<span class="article-item-topic-line"><a href="{{url}}">{{name}}</a></span>{{/primary_tag}}
    </div>
</article>
